h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
    color: #333333;
	font-family: "Poppins", Sans-serif;
}
.pt-120{
	padding-top: 120px;
}

.header-page-title{
	background: #333;
	overflow: hidden;
	padding: 100px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .header-page-title h1{
	font-size: 48px;
	  margin-bottom: 0;
	  font-weight: 700;
	  color: #fff;
  }
 
  .archive #main,
  .single #main {
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
	.archive #main,
    .single #main {
        max-width: 90%;
    }

	.header-page-title{
		margin-top:106px;
	  }
}
.single hr.mt-5,
.single .post-navigation{
	display:none!important;
}
.single #comment{
	height:200px;
}
.single .entry-meta{
	color: #4A6375;
	font-weight: 500;
	margin-top:15px;
	margin-bottom:15px;
	
}
.single .entry-meta a{
	color: #4A6375;
	font-weight: 500;

}
.single .entry-content {
	font-family: Rubik;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    color: #4A6375;
    font-size: 16px;

    word-wrap: break-word;

}

.input-text, select, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], input[type=number], textarea {
    width: 100%;
    border: 1px solid #dfdfdf;
    height: 60px;
    border-radius: 50px;
    padding: 0 15px;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color:#6787FE;
}
.btn{
	border-radius:50px;
	padding:20px 50px;
}
.btn.btn-secondary{
	color: #6787FE;
	background-color: white;
	border-color: #6787FE!important;
}
.btn.btn-primary{
	color: white;
	background-color:#6787FE;
	border-color: #6787FE!important;
}

.btn.btn-info{
    color: #6787FE;
	background: rgb(103 135 254 / 10%);
	border-color:rgb(103 135 254 / 10%)!important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
	color: #6787FE;
	background-color: white;
	border-color: #6787FE;
}
.section{
	min-height:600px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.navbar-brand{
    max-width:80px;
    display: block;
}

.sticky-logo {
    display: block;
}

/* Mostrar el logo sticky cuando el menú tiene la clase 'sticky' */
.sticky .sticky-logo {
    display: none;
}

/* Mostrar el logo estándar cuando el menú no tiene la clase 'sticky' */
.default-logo {
    display:  none;
}

.sticky .default-logo {
    display: block;
}


@media(min-width:768px){
	.desktop-header .btn.btn-primary {
		padding: 10px 30px;
		display: inline-block;
		border: 2px solid;
		border-radius: 50px;
		background:transparent;
		color:white;
		border-color:white!important;
	}
	
	.desktop-header ul li>a{
		color: white;
	}
	.desktop-header {
		background-color: white;
		position:fixed;
		top:0;
		left:0;
		z-index: 100;
		width:100%;
	}
	
	
	.desktop-header ul li>a{
		color: rgb(74, 99, 117);
	}
	
	
	.desktop-header .navbar-nav .nav-link.active,.desktop-header .navbar-nav .nav-link.show {
		color: rgb(74, 99, 117);
		
	}

	.desktop-header .btn.btn-secondary {
		padding: 10px 30px;
		display: inline-block;
		border: 2px solid;
		border-radius: 50px;
		background:transparent;
		color:#6787FE;
		border-color:#6787FE!important;
	}
	.navbar-brand{
		max-width:80px;
		display: block;
	}
}

/*--------------------------------------------------------------
# Desktop Movile
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Off canvas menu mobile menu (Right Slide)
--------------------------------------------------------------*/
@keyframes hover {
	50% {
		transform: translateX(-10px);
	}
}

.offcanvas-menu {
    position: sticky;
    top: 0;
    background: white;
	z-index:100;
}

.offcanvas-menu > label {
	top: 38px;
	right: 30px;
	left: auto; /* Ajuste para la posición desde la derecha */
	position: fixed;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s ease;
	display: flex;
	align-items: center;
	z-index: 9999;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
	transition: background 0.3s, transform 0.3s;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 35px;
	background: rgb(74, 99, 117); /* darken(#fff, 30%) */
}

.offcanvas-menu label span::before {
	transform: translateY(-12px);
}

.offcanvas-menu label span::after {
	transform: translateY(12px);
}

.offcanvas-menu nav {
	position: fixed;
	height: 100%;
	top:0;
	width: 350px;
	right: -350px; /* Cambio para deslizar desde la derecha */
	left: auto; /* Ajuste para la posición desde la derecha */
	overflow: hidden;
	background: white;
	transition: 0.3s ease;
	padding: 40px 30px;
}
.offcanvas-menu .toogle-close{
	position:absolute;
	top:30px;
	right:60px;
	cursor:pointer;
	
}

.offcanvas-menu .toogle-close span{
	width:25px;
	
}

.offcanvas-menu nav img{
	width:80px;
	margin:0 auto;
	display:block;
}

.offcanvas-menu nav .nav-link{
	position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: capitalize;
    color: #4A6375!important;
}


.offcanvas-menu nav > div label {
	width: 30px;
	height: 30px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease;
}

.offcanvas-menu nav > div label span,
.offcanvas-menu nav > div label span::before,
.offcanvas-menu nav > div label span::after {
	background: #4d4d4d; /* darken(#fff, 70%) */
}

.offcanvas-menu nav > ul {
	margin-top: 30px;
	counter-reset: nav-link-count;
}

.offcanvas-menu nav > ul li {
	cursor: pointer;
	padding: 10px 0;
	transform: translateX(30px); /* Cambio para que los elementos se desplacen en la dirección correcta */
	opacity: 0;
	transition: 0.4s ease;
	counter-increment: nav-link-count;
}

.offcanvas-menu nav > ul li a {
	font-size: 2.5rem;
	line-height: 1.5;
	font-weight: 400;
	color: #333333; /* darken(#fff, 80%) */
	display: block;
}

.offcanvas-menu nav > ul li a::after {
	content: " : " counter(nav-link-count);
}

.offcanvas-menu nav > ul li:hover {
	animation: hover 0.5s;
}

.offcanvas-menu input[type="checkbox"] {
	display: none;
}
.offcanvas-menu .dropdown{
	display:flex;
	justify-content: center;
	align-items:center;
	margin-top:20px;
}
.offcanvas-menu input[type="checkbox"]:checked ~ label {
	opacity: 0;
	pointer-events: none;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav {
	right: 0; /* Cambio para que el menú se deslice desde la derecha */
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav label span {
	background: transparent;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav label span::before {
	transform: rotate(-45deg);
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav label span::after {
	transform: rotate(45deg);
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav label span::before,
.offcanvas-menu input[type="checkbox"]:checked ~ nav label span::after {
	transition-delay: 0.2s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li {
	opacity: 1;
	transform: translateX(0px);
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(1) {
	transition-delay: 0.1s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(2) {
	transition-delay: 0.2s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(3) {
	transition-delay: 0.3s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(4) {
	transition-delay: 0.4s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(5) {
	transition-delay: 0.5s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(6) {
	transition-delay: 0.6s;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(7) {
	transition-delay: 0.7s;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.form-subscribe-container{
	border: 1px solid #dfdfdf;
	border-radius: 50px;
	height: 70px;
	padding-right:4px;
	padding-left: 4px;
}
#footer{
	border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #F1F1F1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding-top: 100px;
}
footer .wp-block-column > p{
	margin-bottom:20px;
	color: #333333;
    font-family: "Rubik", Sans-serif;
    font-weight: normal;
    line-height: 28px;
}
.form-subscribe-container p{
margin-bottom:0;
}
#footer img{
	max-width:140px;
	margin-bottom: 0;
}
#footer ul{
	list-style: none;
}
#footer .menu li a{
	color:#333333;
	font-family: "Rubik", Sans-serif;
    font-weight: 400;
	font-size:16px;
}

.copy{
	display:flex;
	justify-content: center;
	align-items: center;
}

.blog-post{
    padding-top:120px;
}
 .blog-item{
  
    background: #fff;
    margin-bottom: 50px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
    box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
    background: #fff;
    margin-bottom: 50px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
    box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
}

.blog-item .content{
    padding:40px;
}

.blog-item .content .entry-meta{
    font-weight: 500;
}

.blog-item .entry-meta span,

.blog-item .entry-meta a{
    color: #4A6375;
    margin-right: 5px;
}



.blog-item .title a{
    color: #333;
    margin-bottom: 20px;
}

.blog-item .btn{
    color: #6787FE;
    padding: 12px 50px;
}

 .blog-item  .post-content{
    margin-bottom:20px;
}
.widget-area .wp-block-group,
.wp-block-search{
    padding: 40px;
    padding-top: 35px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:20px;
}

.wp-block-search__button{
    background: #6787FE;
    color: #fff !important;
    padding: .375em 1.625em;
}

.wp-block-heading,
.wp-block-search__label{
    font-size: 28px;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    color:#333333;
}

.wp-block-latest-posts.wp-block-latest-posts__list,
ol.wp-block-latest-comments {
    list-style: unset;
}

.wp-block-group ul li {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 17px;
}
.wp-block-group li a {
    color: #808080;
    line-height: 26px;
}