.pt-30 {
  padding-top: 30px;
}
.pb-100 {
  padding-bottom: 100px;
}
.general-errors {
  margin-bottom: 30px;
  display: none;
}

.general-errors ul {
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 1rem;
  list-style:none;
  padding: 0;
  text-align: center;
}
.error-message {
  font-size: 13px;
  line-height: 14px;
  padding: 10px 15px 0 15px;
  color: red;
  width:100%;
}
select option:checked {
  background-color: #6787FE;
  color: white;
}
.box input {
  display: none;
}

/*Iframe*/
.container-irame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

/*tables*/

/* Forms */
input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="url"].form-control,
input[type="number"].form-control {
  height: 60px;
}

/* Commision request */
.commission-request-items {
  list-style: none;
  padding: 10px;
}

.total label {
  margin-bottom: 0;
}
footer .copy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 20px 0;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  /* Tamaño de las estrellas */
  color: #ffc000;
  /* Color dorado para las estrellas llenas */
}

/* Estrella llena */
.star-rating .fa-star.filled {
  color: #ffc000;
  /* Color dorado */
}

/* Estrella parcial */
.star-rating .fa-star-half-o.filled {
  color: #ffc000;
  /* Color dorado */
}

/* Estrella vacía */
.star-rating .fa-star.empty {
  color: #ddd;
  /* Color gris para las estrellas vacías */
}

/* Estilo para el texto del promedio */
.star-rating .average-score {
  margin-left: 0.5rem;
  /* Espacio entre las estrellas y el promedio */
  font-size: 1rem;
  color: #333;
  /* Color del texto del promedio */
}