.pt-30 {
  padding-top: 30px;
}
.pb-100 {
  padding-bottom: 100px;
}
.general-errors {
  margin-bottom: 20px;
  display: none;

}

.general-errors p{
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.2rem;
}
.error-message {
  font-size: 12px;
  line-height: 14px;
  padding: 0 15px;
}

.box input {
  display: none;
}

/*Iframe*/
.container-irame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

/*tables*/


/* Forms */
input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="url"].form-control,
input[type="number"].form-control {
  height: 60px;
}

/* Commision request */
.commission-request-items {
  list-style: none;
  padding: 10px;
}

.total label {
  margin-bottom: 0;
}
